{% extends 'layout.html' %}

{% block title %}
Edit Section
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/form.css">
{% endblock %}

{% block content %}
<div id="canvas">
    <a href="{{url_for('section')}}"><i class="bi bi-arrow-left-circle-fill"> Go Back</i></a>
    <h2>Edit Section</h2>


    <form action="" method="post">
        <label for="name" class="form-label">Section Name:</label>
        <input type="text" class="form-control" id="name" name="name" value="{{section.name}}" required>

        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" rows="5" name="description">{{section.description}}</textarea>

        <div style="text-align:center;">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}