{% extends 'layout.html' %}

{% block title %}
Library Management System
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/search_box.css">
{% endblock %}


{% block content %}

<div id="search-box">
    <form action="{{url_for('search')}}" class="input-group">
        <select class="form-select" name="filter">
            {% for item in srch_filter %}
            <option value="{{item}}">{{srch_filter[item]}}</option>
            {% endfor %}
        </select>
        <input type="text" class="form-control" placeholder="Type to Search..." name="value" id="search">
        <button type="submit" class="btn btn-outline-primary"> <i class="bi bi-search"> </i></button>
    </form>
</div>

<div>
    {% if books|length >0 %}
    <h4>Recently Added</h4>
    <div class="card-grp">
        {% for book in books[:5] %}
        <div class="card bg-light" style="min-width: 15rem; max-width: 16rem;">
            <div class="card-header">
                <span class="badge text-bg-primary">{{book.section.name}}</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">by {{book.author}}</h6>
                <div class="fw-light">
                    {% if book.reviews|length>0 %}                        
                    {{avg_rating[book.id]}} average rating based on {{book.reviews|length}} review(s).
                    {% else %}
                    No reviews yet
                    {% endif %}
                    <a href="{{url_for('show_book', id=book.id)}}" class="opacity-0 stretched-link">link</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    {% endif %}
</div>

{% for section in sections %}
<div>
    {% if section.books|length >0 %}
    <h4>{{section.name}}</h4>
    <div class="card-grp">
        {% for book in section.books %}
        <div class="card bg-light" style="min-width: 15rem; max-width: 16rem;">
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">by {{book.author}} </h6>
                <div class="fw-light">
                    {% if book.reviews|length>0 %}                        
                    {{avg_rating[book.id]}} average rating based on {{book.reviews|length}} review(s).
                    {% else %}
                    No reviews yet
                    {% endif %}
                    <a href="{{url_for('show_book', id=book.id)}}" class="opacity-0 stretched-link">link</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    {% endif %}
</div>
{% endfor %}

{% endblock %}