{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/auth_form.css">
{% endblock %}

{% block content %}
<div id="canvas">
    <h2>Register</h2>
    <form action="" method="post">
        <div>
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div>
            <label for="username" class="form-label">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div>
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div style="text-align: center;">
            <input type="submit" value="Register" class="btn btn-primary">
            <p>Already have an account? <a href="{{url_for('login')}}">Login!</a></a></p>
        </div>
    </form>
</div>
{% endblock %}